# DIT821 Software Engineering for AI systems - exam 2020-08-17


### Assignement:  ML engineering

* Name, e-mail:

In [ ]:
NOT MINE

### ML Assignement description


You are provided with the `Personal Health Cost` dataset that contains information about individual medical costs billed by a health insurance company. The dataset contains the following information:

- **Age**: age of primary beneficiary
- **Sex**: insurance contractor gender, female, male
- **BMI**: Body mass index, providing an understanding of body weights that are relatively high or low relative to height objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9
- **Children**: Number of children covered by health insurance / Number of dependents
- **Smoker**: Smoking
- **Region**: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.
- **Charges**: Individual medical costs billed by health insurance


You are required to train and evaluate a simple linear regression model by performing the following:

1. Separate the features (age, sex, bmi etc.,) from target (charges) in the already prepared and cleaned dataset
2. Split dataset into train and test set
3. Train and evaluate (e.g., using mean_squared_error, r^2) a simple linear regression model
4. Inteprete evaluation results


You can access the following documentation to achieve above: 
- Panda's Documentation :<https://pandas.pydata.org/pandas-docs/stable/reference/frame.html>
- Sklearn Linear model Documentation:<https://scikit-learn.org/stable/modules/classes.html#module-sklearn.linear_model>
- Sklearn Metrics Documentation: <https://scikit-learn.org/stable/modules/classes.html#sklearn-metrics-metrics>

In [19]:
# Import libraries
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Creating DataFrame
personal_health_df = pd.read_csv('./personal_health_dataset.csv')
print('Shape: ', personal_health_df.shape)
print(personal_health_df.info())

# Performing one-hot encoding on categorical data
personal_health_df = pd.get_dummies(personal_health_df,columns=['sex','smoker','region'])
print('Shape after one-hot encoding:', personal_health_df.shape)

Shape:  (1338, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None
Shape after one-hot encoding: (1338, 12)

In [20]:
# 1. Separate the features from the target (charges) in the already prepared and cleaned dataset
# ===== YOUR CODE HERE ==========
data_features = personal_health_df.drop(columns='charges', axis =1) 
data_target = personal_health_df["charges"].copy() 
data_target.columns = ['charges']

data_features

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,1,1,0,0,1,0,0
1334,18,31.920,0,1,0,1,0,1,0,0,0
1335,18,36.850,0,1,0,1,0,0,0,1,0
1336,21,25.800,0,1,0,1,0,0,0,0,1
1337,61,29.070,0,1,0,0,1,0,1,0,0

In [21]:
# 2. Split dataset into train and test set
# ===== YOUR CODE HERE ==========
X_train, X_test, y_train, y_test = train_test_split(data_features, data_target, test_size= 0.2, random_state=0)

In [22]:
# 3. Train and evaluate a simple linear regression model on all features
# ===== YOUR CODE HERE ==========
lr = LinearRegression()
lr.fit(X_train, y_train)

train_predictions = lr_model.predict(X_train)
test_predictions = lr_model.predict(x_test)

MSE_train = mean_squared_error(Y_train, train_predictions)
MSE_test = mean_squared_error(y_test, test_predictions)


print("MSE score on trainig set: ", MSE_train)
print("MSE score on test set: ", MSE_test)

MSE score on trainig set:  37701533.128629126
MSE score on test set:  31827950.22952383

In [25]:
# 4. Train and evaluate a simple linear model on selected features 
# (age, bmi, children, smoker (one-hot encoding))

#Split train and test dataset

new_data_features = pd.DataFrame([data_features.age, data_features.bmi, data_features.children , data_features.smoker_no, data_features.smoker_yes]).transpose()
new_data_features
X_train, x_test, Y_train, y_test = train_test_split(new_data_features,
                                                    personal_health_target,
                                                   test_size=0.2,
                                                    random_state=0)

# Train and evaluate
lr_model = LinearRegression()
lr_model.fit(X_train, Y_train)

train_predictions = lr_model.predict(X_train)
test_predictions = lr_model.predict(x_test)

MSE_train = mean_squared_error(Y_train, train_predictions)
MSE_test = mean_squared_error(y_test, test_predictions)


print("MSE score on trainig set: ", MSE_train)
print("MSE score on test set: ", MSE_test)

MSE score on trainig set:  37828889.74677548
MSE score on test set:  32171708.57245572

### 4. Inteprete model evaluation results

#### Your description:

In [23]:
### Lucy's

import matplotlib.pyplot as plt

# 1. Separate features and target
personal_health_features = personal_health_df.drop(columns='charges', axis=1)
personal_health_target = personal_health_df['charges'].copy()
personal_health_target.columns = ['charges']
personal_health_target

# 2. Split train and test dataset
X_train, x_test, Y_train, y_test = train_test_split(personal_health_features,
                                                    personal_health_target,
                                                   test_size=0.2,
                                                    random_state=0)

# 3. Train and evaluate
lr_model = LinearRegression()
lr_model.fit(X_train, Y_train)

train_predictions = lr_model.predict(X_train)
test_predictions = lr_model.predict(x_test)

MSE_train = mean_squared_error(Y_train, train_predictions)
MSE_test = mean_squared_error(y_test, test_predictions)


print("MSE score on trainig set: ", MSE_train)
print("MSE score on test set: ", MSE_test)

## Features: age, bmi, children, smoker (one-hot encoding), region (one-hot encoding)

MSE score on trainig set:  37701533.128629126
MSE score on test set:  31827950.22952383

In [7]:
## Submit the solution

When you completed the excercise, download (form File menu) this file as a jupyter Notebook file (.ipynb) and uplaod this file in the CANVAS 

*By writing down my name I declare that I have done the assignements myself

* First Name  Last Name:

SyntaxError: invalid syntax (<ipython-input-7-fe896086821b>, line 3)

## Submit the solution

When you completed the excercise, download (form File menu) this file as a jupyter Notebook file (.ipynb) and uplaod this file in the CANVAS 

*By writing down my name I declare that I have done the assignements myself

* First Name  Last Name: